---
import LogoIcon from "../../../public/images/logo.svg";
import BurgerIcon from "../../../public/images/icon-hamburger.svg";
import navigationData from "../../local-data/navigationData";
import Sidebar from "../Sidebar.astro";
---

<script src="/src/js/sidebar.ts"></script>

<nav class="nav-container" aria-label="Primary navigation">
  <a
    class="nav-logo-container"
    aria-label="Manage home"
    href="/Manage-Landing-Page/"
  >
    <LogoIcon class="nav-container-logo" aria-hidden="true" />
    <span class="sr-only">Manage home</span>
  </a>

  <div class="nav-links-header">
    {
      navigationData
        .map((navLink) => {
          return <a href="#">{navLink.label}</a>;
        })
        .slice(1, -1)
    }
  </div>

  <button
    id="sidebar-open-toggle"
    type="button"
    aria-haspopup="dialog"
    class="nav-toggle"
    aria-expanded={false}
    aria-controls="sidebar-menu"
    aria-label={false ? "Close menu" : "Open menu"}
  >
    <span class="sr-only">Sidebar Menu Toggle</span>
    <BurgerIcon aria-hidden="true" />
  </button>

  <button class="cta-button cta-button-primary nav-cta"> Get Started </button>
</nav>

<Sidebar />
