---
import LogoIcon from "../../../public/images/logo.svg";
import BurgerIcon from "../../../public/images/icon-hamburger.svg";
---

<nav class="nav-container">
  <LogoIcon />
  <BurgerIcon />
</nav>
