---
import CTAButton from "../shared/CTAButton.astro"
---

<div id="heading-text-container">
  <div>
    <h1>Bring everyone together to build better products.</h1>
    <p class="heading-paragraph">
      Manage makes it simple for software teams to plan day-to-day tasks while
      keeping the larger team goals in view.
    </p>
  </div>
  <CTAButton/>
</div>
