.main-layout-grid {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: var(--grid-margin-mobile) repeat(10, 1fr) var(
      --grid-margin-mobile
    );

  @media (width >= 768px) {
    grid-template-columns: var(--grid-margin-tablet) repeat(10, 1fr) var(
        --grid-margin-tablet
      );
  }

  @media (width >= 948px) {
    grid-template-columns: 71.5px repeat(10, 1fr) 71.5px;
  }
  /* @media (width >= 1080px) {
    grid-template-columns: 71.5px repeat(10, 1fr) 71.5px;
  } */
  @media (width >= 1172px) {
    grid-template-columns: 102.5px repeat(10, 1fr) 102.5px;
  }
  @media (width >= 1290px) {
    grid-template-columns: var(--grid-margin-desktop) repeat(10, 1fr) var(
        --grid-margin-desktop
      );
  }
}

.inner-section-columns {
  grid-column: 2/12;
}

.bleed-section-columns {
  grid-column: 1/13;
}
