@import "./layout-grid.css";
@import "./styles.css";
@import "./text-styles.css";
@import "./slider.css";
@import "./cta.css";
@import "./footer.css";
@import "./header.css";
@import "./about.css";
@import "./sidebar.css";

/* :root not needed in reset */
:root {
  --color-primary: #f3603c;
  --color-primary-shade: #f98f75;
  --color-secondary: #242d52;
  --color-dark: #1d1e25;
  --color-light: #fff0ec;
  --color-off-white: #f4f4f4;
  --color-white: #ffffff;
  --color-grey: #8d8d8d;

  /* Grid Variables */
  --grid-margin-mobile: 24px;
  --grid-margin-tablet: 40px;
  --grid-margin-desktop: 165px;

  --grid-section-max-width: 1110px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  /* Added after using too many times!!!! (Needs to remove the others now) */
  font-family: var(--font-vietnam);
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Additional */


.cta-button {
  padding: 12px 32px;
  font-family: var(--font-vietnam);
  border: none;
  border-radius: 22px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  color: var(--color-light);
  &:hover {
    background-color: var(--color-primary-shade);
    cursor: pointer;
    /* scale: 1.02; */
  }
  &:active {
    background-color: var(--color-primary);
  }
}

.cta-button-primary {
  background-color: var(--color-primary);
}
.cta-button-secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary-shade);
    cursor: pointer;
  }
  &:active {
    color: var(--color-primary);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
