---
import "../styles/styles.css";
import MainLayout from "../layouts/MainLayout.astro";
import { SliderSection, AboutSection, CTA } from "../components";
---

<MainLayout>
  <main class="bleed-section-columns main-layout-grid">
    <AboutSection />
    <SliderSection />
    <CTA />
  </main>
</MainLayout>
