---
import { Navbar, ImageContainer, TextContainer } from "./header-components";
---

<header class="inner-section-columns header-container">
  <Navbar />
  <div class="header-content-container">
    <ImageContainer />
    <TextContainer />
  </div>
</header>
