---
import { Font } from "astro:assets";
import { HeaderSection, FooterSection } from "../components";
import BgPillGraphic from "/public/images/bg-tablet-pattern.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <Font cssVariable="--font-vietnam" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Manage Landing Page</title>
  </head>
  <body class="main-layout-grid">
    <!-- <div class="temp">
      <BgPillGraphic class="svg-resize-full" />
    </div> -->

    <HeaderSection />

    <slot />

    <FooterSection />
  </body>
</html>
